/*********
RESET
*********/
*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

/*********
GENERAL
*********/
body{
    font-family: "Open Sans", serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

img{
    max-width: 100%;
}

/*********
HEADER
*********/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.main-nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 12px;
    font-weight: bold;
}

.main-nav a:hover{
    font-size: 15px;
    color: #0282f9;
}

.main-nav a{
    text-decoration: none;
    color: #46464c;
}

header img{
    width: 50px;
}

/*********
MAIN
*********/
.first-section{
    color: white;
    background-color: #1c1c1c;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}

.second-section{
    padding: 30px 0px;
    background-color: #0282f9 ;
    position: sticky;
    z-index: 100;
}

.second-section img{
    width: 40px;
}

.second-section a{
    text-decoration: none;
    color: white;
}

.second-section div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.third-section{
    background-image: url('./img/footer-bg.jpg');
    background-size: cover;
}

.third-section h3{
    color: white;
} 

.third-section a{
    text-decoration: none;
    color: lightgray;
}

.third-section ul{
    list-style: none;
}

.third-section .row{
    display: flex;
    gap: 20px;
}

.third-section img{
    position: absolute;
    top:185px;
    right: 155px;
    z-index: 0;
    width: 500px;
}

/*********
FOOTER
*********/
footer{
    background-color: #303030;
    position: sticky;
    z-index: 100;
    padding: 20px;
}

footer .row{
    display: flex;
    justify-content: space-between;
}

footer .col{
    display: flex;
    align-items: center;
    gap: 15px
}

footer h3{
    color: #0282f9;
}

.footer-btn{
    padding: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 2px #0282f9 solid;
}

.footer-btn:hover{
    font-size: 15px;
}