/*********
RESET
*********/
*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

/*********
GENERAL
*********/
body{
    font-family: "Open Sans", serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

img{
    max-width: 100%;
}

.row{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

/*********
HEADER
*********/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header-nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 12px;
    font-weight: bold;
}

.header-nav a:hover{
    font-size: 15px;
    color: #0282f9;
}

.header-nav a{
    text-decoration: none;
    color: #46464c;
}

header img{
    width: 50px;
}

/*********
MAIN
*********/
.hero{
    color: white;
    background-image: url('/img/jumbotron.jpg');
    background-size: cover;
    padding: 150px;
}

.comics-nav .col{
    flex-grow: 1;
    width: calc(100% / 7);
}

.comics-nav p{
    font-weight: bold;
    color: white;
}

.comics-nav{
    background-color: #303030;
    padding: 50px 0px 30px;
}

.current{
    width: 15%;
    background-color: #0282f9;
    text-align: center;
    padding: 1px;
    position: relative;
    top: 180px;
    left: 0;
}

.comics-btn{
    background-color: #0282f9 ;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    justify-content: center;
}

.comics-nav .row{
    justify-content: center;
}

.products-nav{
    padding: 30px 0px;
    background-color: #0282f9 ;
    position: sticky;
    z-index: 100;
}

.products-nav img{
    width: 40px;
}

.products-nav a{
    text-decoration: none;
    color: white;
}

.products-nav div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.main-nav{
    background-image: url('./img/footer-bg.jpg');
    background-size: cover;
}

.main-nav h3{
    color: white;
} 

.main-nav a{
    text-decoration: none;
    color: lightgray;
}

.main-nav ul{
    list-style: none;
}

.main-nav img{
    position: absolute;
    top: 1350px;
    right: 200px;
    z-index: 0;
    width: 450px;
}

/*********
FOOTER
*********/
footer{
    background-color: #303030;
    position: sticky;
    z-index: 100;
    padding: 20px;
}

footer .row{
    justify-content: space-between;
}

footer .col{
    display: flex;
    align-items: center;
    gap: 15px
}

footer h3{
    color: #0282f9;
}

.footer-btn{
    padding: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 2px #0282f9 solid;
}

.footer-btn:hover{
    font-size: 15px;
}