/*********
RESET
*********/
*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

/*********
GENERAL
*********/
body{
    font-family: "Open Sans", serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

img{
    max-width: 100%;
}

/*********
HEADER
*********/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.main-nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 12px;
    font-weight: bold;
}

.main-nav a{
    text-decoration: none;
    color: #46464c;
}

header img{
    width: 50px;
}

/*********
MAIN
*********/
.first-section{
    color: white;
    background-color: #1c1c1c;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}

.second-section{
    padding: 30px 0px;
    background-color: #0282f9 ;
}

.second-section img{
    width: 40px;
}

.second-section a{
    text-decoration: none;
    color: white;
}

.second-section div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.third-section{
    background-image: url('./img/footer-bg.jpg');
    background-size: cover;
}

.third-section h2{
    color: white;
} 

.third-section div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.third-section a{
    text-decoration: none;
    color: lightgray;
}

.third-section ul{
    list-style: none;
}

.row{
    max-width: 200px;
    height: 70vh;
    display: flex;
}
